@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --branco: white;     
    --cor-de-fundo: #00162E;
    --fundo-senha:  #00244D;    
    --fundo-texto:  #001E40;
    --texto-borda: #0075FF;
    --roboto: "Roboto", sans-serif;
    --roboto-mono: "roboto mono", monospace;
}

body{
 color:white;
 background-color: #00162E;
 font-family: var(--roboto);
}

.conteudo-titulo{
text-align: center;

}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
   
}

.titulo-secundario{
font-size: 24px;

}

.aba-senha{
    padding-left: 24px;
border-bottom: 6px solid var(--texto-borda);

    background: var(--fundo-senha);

  
}

.texto-senha{
    color: white;
    text-align: center;
    padding: 10%;
}
